.geo{
    background-color: rgba(0, 0, 0, 0.093);
    padding: 50px;
    margin: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    color: white;
}

.temperature_time{
    background-color: rgba(0, 0, 0, 0.093);
    display: flex;
    padding: 50px;
    margin: 20px;
    flex-grow: 1;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
}
.temperature{
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
}
.time{
    display: flex;
    flex-direction: column;
}
.geo_temperature{
    display: flex;
}
.dawn{
    display: flex;
}
.sunset{
    display: flex;
}